body{
    background-color:lightgray;
}

.image-section{
    text-align : center;
}

.sajib-image{
    height: 300px;
    width: 400px;
    border-radius: 20%;
}
.name-section{
    text-align : center;
}
.contact-section{
    text-align : center;
}
.logo{
    height:60px;
    width:60px;
}

.name-section-description{
    font-family: Tahoma;
    font-size: 20px;
}

.title-section-description{
    font-family: Verdana;
}